body.heroic {
  --background: #060d1f;
  --background-darker: #01081a;
  --background-secondary: #0b1224;
  --background-lighter: #101729;
  --accent: #f7c3c6;
  --text-default: #E0F7FA;
  --navbar-accent: #f7c3c6;
  --navbar-active-background: #51688E;
  --success: #6488EA;
  --success-hover: #819fee;
  --primary: #f7c3c6;
  --primary-hover: #f2c8cb;
  --danger: #e95c4b;
  --danger-hover: #ed7b6d;
  --anticheat-supported: #6488EA;
  --anticheat-planned: #fff6d2;
  --icon-disabled: #ed7b6d;
  --cancel-button: #e95c4b;
  --anticheat-broken: #e95c4b;

  --accent-overlay: var(--accent);
  --navbar-background: var(--background);
  --body-background: var(--background-darker);
  --current-background: var(--body-background);
  --text-secondary: var(--text-default);
  --text-tertiary: var(--background);
  --navbar-active: var(--accent);
  --input-background: var(--background);
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --anticheat-denied: var(--danger);
  --anticheat-running: var(--text-default);
  --text-title: var(--text-default);
  --icons-background: var(--background-lighter);
  --action-icon: var(--navbar-accent);
  --action-icon-hover: var(--text-default);
  --action-icon-active: var(--accent);
  --neutral-06: var(--text-default);
}
