:root {
--color00: #060d1f;
--color01: #060d1f;
--color02: #060d1f;
--color03: #e1e9f5;
--color04: #c8cbd0;
--color05: #E0F7FA;
--color06: #c8cbd0;
--color07: #c8cbd0;
--color08: #e95c4b;
--color09: #d5edeb;
--color0A: #d7ebe9;
--color0B: #6488EA;
--color0C: #fff6d2;
--color0D: #f7c3c6;
--color0E: #85cec4;
--color0F: #ed7b6d;
}
